.App {
  width: 1500px;
  height: 1500px;
  text-align: center;
  justify-content: center;
  align-items:center ;
}
form{
  height: 156px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    justify-content: space-between;
    padding-top: 156px;
    padding-left: 636px;
}
.input{
  width: 200px;
}

.input[type=text] {
  border: 2px solid #d0bdf4;
  border-radius: 4px;
}

label{
  color: #39a0ca;
}

.input2[type=button], input[type=submit], input[type=reset] {
  background-color: #d0bdf4;
  border: none;
  color: white;
  padding: 11px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}